$white: #fff;
$black: #131313;

$orange: #eaa245;
$orange-magazine: #fc7f03;

$grey: #313135;
$grey-1: #48484f;
$grey-2: #8b8b9a;
$grey-light: #b1b1b1;
$grey-light-1: #acacac;

$font-base: "PT Sans";
$font-second: "Lato";

	//BreakPoints
$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 1023px;
$bp-xlarge: 1199px;